body{
    background-color: orange;
    color: gainsboro;
    background-attachment: fixed;
}

.row{
    height: max-content;
    margin-right: 5%;
    margin-left: 5%;
}
.footer{

    text-align: center;
}
img:hover{
    background-color: gray;
    opacity: 0.5;
    visibility:visible;
}
.nav-link:hover{
    background-color:#303841;
    opacity: 0.5;
    border-radius: 5px;
}
.ft{
    font-size: medium;
}