{% extends "core/plantilla.html" %}
{% load crispy_forms_tags %}
{% block title %}Perros{% endblock %}

{% block content %}

<div class="row bg-dark  px-4 pt-1">
    <section class="get-in-touch">
        <form action="http://www.colex.cl/duoc/cargaData.php" method="POST" id="form" novalidate>
            <div class=" pb-4">

                <input type="email" name="correo" class="form-control" id="Correo"
                    placeholder="Correo electronico" required>
            </div>
            <div class=" pb-4">

                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
            </div>
            <div class=" pb-4">
                <input type="text" name="telefono" class="form-control" id="inputPhone4"
                    placeholder="Numero celular (Opcional)">
            </div>
            <div class=" pb-4">
                <input type="text" name="ciudad" class="form-control" id="inputCity4" placeholder="Ciudad"
                    required>
            </div>


            <div class=" pb-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rutcheck"
                        value="option1">
                    <label class="form-check-label" for="rutcheck">Rut</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pasaportecheck"
                        value="option2">
                    <label class="form-check-label" for="pasaportecheck">Pasaporte</label>
                </div>
                <input type="text" id="rut" class="form-control" placeholder="Identificador" name="rut"
                    required>
            </div>


            <div class="mb-3 ">

                <textarea placeholder="Comentario" class="form-control" name="comentario" id="comentario"
                    rows="3" required></textarea>
                <div class="col-6">
                    <label id="caracteres"></label>
                </div>
            </div>
            
                <div class="col-6 ">
                    <input type="hidden" id="url" name="url" value="google.cl" /><br />
                    <button type="submit" class="btn btn-warning d-inline p-3 " id="sendbtn" value="Enviar">
                        Enviar
                    </button>
                    <button type="reset" id="btn-limpiar" class="btn btn-warning d-inline p-3">Limpiar</button>

                </div>
            
        </form>
    </section>
</div>

{% endblock %}