{% extends "core/plantilla.html" %}
{% load crispy_forms_tags %}
{% block title %}Perros{% endblock %}

{% block content %}

<div class="row bg-dark px-4">

    <section class="get-in-touch">
        <form action="" method="POST" class="contact-form row" enctype="multipart/form-data" id='formulario'>
            {% csrf_token %}

            {{ form|crispy }}

            <div class="mt-3 col-lg-3">
                <input class="btn-warning btn" type="submit" value="Modificar">

            </div>
            <div class="mt-3 col-lg-3">
                {% if an.especie|stringformat:"s" == "Perro" %}
                <a href="{% url 'perros' %}" style="text-decoration: none;">
                    {% else %}
                    <a href="{% url 'gatos' %}" style="text-decoration: none;">
                        {% endif %}
                        <input class="btn-warning btn" type="button" value="Volver">
                    </a>
            </div>

        </form>
        <div class="col">
            {% if mensaje == "Datos modificados de manera correcta"%}
            <div class="alert alert-dark" role="alert" style="transition: 1000;">{{mensaje}} </div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}