{% extends "core/plantilla.html" %}
{% load static %}
{% block title %}Perros{% endblock %}

{% block content %}

<div class="row bg-dark px-4">
    <div class="col">
        <h1 class="text-center"><i> <u><em>Nuestra misión </em></u></i></h1>
        
        <p class="text-center fst-italic">Radica en la necesidad de proteger a animales domésticos en situación de
            maltrato o abandono, y busca desarrollar
            una cultura de protección activa de la vida animal.</p>
    </div>
</div>
<div class="row bg-dark px-4">
    <div class="col">
        <h4 class="text-center"><i> <u> Nuestros integrantes</u></i></h4>
        <ul>
            <li class="badge col-12">
                <img src="{%static 'core/images/2.jpeg' %}" class="img-fluid rounded"
                    style="height: 15rem; width: 20rem; object-fit: cover;" alt="Rodrigo">
                <h4 class="">Rodrigo Diaz <br> Director y socio fundador</h4>

            </li>
            <li class=" badge col-12">
                <img src="{%static 'core/images/1.jpeg' %}" class="img-fluid rounded"
                    style="height: 15rem; width: 20rem; object-fit: cover;" alt="Nataniel">
                <h4 class=""> Nataniel Soto <br> Benefactor y socio fundador</h4>

            </li>
            
        </ul>
        <p class="text-center fst-italic">Somos personas que se distinguen por creer en algo y trabajar activamente,
            sin remuneración, para conseguirlo. Donamos nuestro tiempo, capacidades, conocimientos y
            habilidades a una causa que nos preocupa, convirtiéndonos así en un agente de cambio. </p>
    </div>
</div>

{% endblock %}