{% extends "core/plantilla.html" %}


{% block title %}Perros{% endblock %}

{% block content %}
<div class="row bg-dark pt-2 px-3">
    <input id="buscar" type="text" placeholder="Buscar" style="width: 500px;">
    <div class="col"> <button class="btn btn-dark" id="btn-admin"></button></div>
</div>
<div class="row mt-0 bg-dark px-2 pt-2">
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td scope="col"></td>
                <td scope="col">Nombre</td>
                <td scope="col">Opciones</td>



            </tr>
        </thead>
        <tbody id="contenido">
            {% for an in animal %}
            <tr>
                <td scope="col ">
                    {% if an.imagenAnimal %}

                    <img style="height: 100px; width: 100px; border-radius: 100%; object-fit: cover;"
                        src="{{an.imagenAnimal.url}}" alt="">

                    {% endif %}
                </td>
                <td class="campo" scope="col"> {{an.nombreAnimal}}</td>
                <td scope="col"><a href="{% url 'animales' an.numChip %}"><button type="button"
                            class="btn btn-warning">Ficha</button></a>

                </td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
    <div class="pt-2" id="admin-option" style="display: none">
        <a href="{% url 'form_animal' %}"><button type="button" class="btn btn-warning">Nuevo Animal</button></a>

    </div>
</div>

{% endblock %}