{% extends "core/plantilla.html" %}

{% block title %}Ficha animal{% endblock %}

{% block content %}

<div class="row bg-dark d-flex px-3 ">
    <ul class="list-group ">
        {% for an in animal %}
        <li class="list-group-item text-center list-group-item-dark">
            {% if an.imagenAnimal %}
            <img class="w-25 mx-auto card-img-top img-fluid" src="{{an.imagenAnimal.url}}" alt="">

            {% endif %}
        </li>
        <li class="list-group-item list-group-item-dark">
            <p>Hola, mi nombre es {{an.nombreAnimal}}, tengo {{an.edadAnimal}} años y soy {{an.generoAnimal}} </p>
        </li>
        <li class="list-group-item list-group-item-dark">
            {% if an.esterilizacion %}
            Esterilizado : si
            {% else %}
            Esterilizado : no
            {% endif %}
        </li>
        <li class="list-group-item list-group-item-dark">Nro Chip : {{an.numChip}}</li>

        <li class="list-group-item list-group-item-dark">
            <div class="row align-items-start mx-0 ">
                <div class="col-1 px-0">
                    {% if an.especie|stringformat:"s" == "Gato" %}
                    <a href="{% url 'gatos'%}">
                        <button class="btn btn-warning" type="button">Volver</button>
                    </a>

                    {% else %}
                    <a href="{% url 'perros'%}">
                        <button class="btn btn-warning" type="button">Volver</button>
                    </a>

                    {% endif %}
                    <button class="btn btn-white" id="btn-admin"></button>
                </div>
                <div class="col-3 px-0" id="admin-option" style="display: none">
                    <a href="{% url 'form_mod_animal' an.numChip%}"><button type="button"
                            class="btn btn-warning">Modificar</button></a>
                    <button type="button" class="btn btn-warning" id="delete-btn">
                        Borrar
                    </button>
                </div>
                <div class="col-8 px-0" style="display: none;" id="delete-conf">
                    ¿Seguro que desea borrar este registro?
                    {% if an.especie|stringformat:"s" == "Gato" %}
                    <a href="{% url 'form_del_gatos' an.numChip%}" style="text-decoration: none;">
                        <button type="button" class="btn btn-warning">
                            Si
                        </button>
                    </a>
                    {% else %}
                    <a href="{% url 'form_del_perros' an.numChip%}" style="text-decoration: none;">
                        <button class="btn btn-warning">Si</button>
                    </a>
                    {% endif %}
                    <button class="btn btn-dark">no</button>
                </div>
            </div>
        </li>


        {% endfor %}
    </ul>
</div>
{% endblock %}